body{
    background-color:#e63946;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* colors.co for colors */
}

.timer-content{

    width: 30%;
    margin: 0 auto;   /*0 ra auto le sadhai bich ma asuncha */
}

.header-title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header{
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid rgba(0,0,0,0.1);
}

.timer-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    /* margin-top: 20px; */
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

.tab-list{
    text-align: center;
}

.tab-item{
    display: inline-block;
    font-size: 12px;
    color: white;
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
}

.tab-item.active{
    background-color: black;
}

.tab-item-content{
    display: none;
    text-align: center;

}

.tab-item-content.active{
    display: block;
}

.time{
    font-size: 50px;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-weight: bolder;
}

button{
    padding: 10px 35px;
    border-radius: 10px;
    /* border: none; */
}